.App-footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    padding: 50px 0px 10px 0px;

    .App-footer-description {
        p {
            text-wrap: balance;
        }
    }
}

@media screen and (max-width: 768px) {
    .App-footer {
        padding: 50px;
    }
}